# Below inputs are used to setup various jenkins parameters in a standalone jenkins server. Make a copy of this file and place it in the same directory, 
# rename it to  'jenkins.env' and modify values accordingly.

# Used to register the active directory credentials in the jenkins credentials store. Mandatory!
# Credential id: '72771537-75b6-4838-a194-752f342c71ae'
# Credential name: 'SVN credentials'
SVN_USR=YOUR_SVN_USERNAME
SVN_PWD=YOUR_SVN_PASSWORD

# Below credentials will be used as the Jenkins admin user credentials. Can login to the Jenkins using below.
JENKINS_ADMIN_USR=admin
JENKINS_ADMIN_PWD=admin

# Need to specify whether we are using the inbuilt svn server or an external svn locations to store data.
# Set the following value to false if using an external svn locations.
USING_INBUILT_SVN_SERVER=true

# Replace this parameter at self-contained jenkins deployments.
# At self-contained jenkins deployments once this is given 
# the utility script 'init-self-contained-jenkins.sh' will create SELF_SERVICE_SVN_LOCATION_TRUNK parameter for you.
SELF_SERVICE_SVN_ROOT=REPLACE_THIS_VALUE_AT_SELF_CONTAINED_DEPLOYMENTS

# All the Jenkins scripts will be downloaded from the below svn location. Mandatory!
SELF_SERVICE_SVN_LOCATION_TRUNK=http://svn_server/svn/deploymentTool/latest

# All the customer specific data will be saved in here. Mandatory!
CUSTOMERS_SVN_LOCATION=http://svn_server/svn/customers

# This parameter determines, wether Jenkins run as a master node or a slave node. 'master' is only supporting at the moment. Mandatory!
SELF_SERVICE_NODE=master

# Used to register the aws credentials in the jenkins credentials store. The AWS Principal should have ec2 full access. Optional!
# Credential id: 'aws_dev_account'
# Credential name: 'AWS default account'
AWS_ACCESS_KEY=YOUR_AWS_ACCESS_KEY
AWS_SECRET_KEY=YOUR_AWS_SECRET_KEY

# Used to register the azure credentials in the jenkins credentials store. The Azure Principal should have full access. Optional!
# Credential id: 'azure_dev_account'
# Credential name: 'Azure default account'
AZURE_SUBSCRIPTION_ID=YOUR_AZURE_SUBSCRIPTION_ID
AZURE_CLIENT_ID=YOUR_AZURE_CLIENT_ID
AZURE_CLIENT_SECRET=YOUR_AZURE_CLIENT_SECRET
AZURE_TENANT_ID=YOUR_AZURE_TENANT_ID

# Used to register the 'enactordev.azurecr.io' registry credentials in the jenkins credentials store. Optional!
# Credential id: 'cd314d32-5f0a-4dbe-aa83-a9d74bda0d42'
# Credential name: 'Enactor Container Registry Credentials'
ENACTOR_DOCKER_REG_USERNAME=ENACTOR_DOCKER_REGISTRY_USERNAME
ENACTOR_DOCKER_REG_PASSWORD=ENACTOR_DOCKER_REGISTRY_PASSWORD
