{"all":{"children":{"manager_nodes":{"hosts":{${manager_nodes}}},"worker_nodes":{"hosts":{${worker_nodes}}},"other_nodes":{"hosts":{${other_nodes}}},"storage_nodes":{"hosts":{${storage_nodes}}},"bastion_nodes":{"hosts":{${bastion_nodes}}},"tester_nodes":{"hosts":{${tester_nodes}}}}}}