"${server_name}":{"ansible_host":"${ansible_host}","private_ip":"${private_ip}","ansible_port":"22","ansible_user":"${username}","ansible_password":"${password}","ansible_become_user":"root","ansible_become_pass":"${password}",${inventory_variables}}