"${server_name}":{"ansible_host":"${ansible_host}","private_ip":"${private_ip}","ansible_port":"5986","ansible_user":"${username}","ansible_password":"${password}","ansible_connection":"winrm","ansible_winrm_server_cert_validation":"ignore","ansible_become_user":"SYSTEM",${inventory_variables}}